
<div class="row  m-0">
  <!-- Remove the container if you want to extend the Footer to full width. -->
  <div class="col-md-12 p-0">

    <footer class="text-center text-lg-start" style="background-color: #343a40;">
      <div class="container d-flex justify-content-center py-5">
        <button type="button" class="btn btn-lg mx-2 btn-custom">
          <i class="fa fa-facebook"></i>
        </button>
        <button type="button" class="btn btn-lg mx-2 btn-custom">
          <i class="fa fa-youtube"></i>
        </button>
        <button type="button" class="btn btn-lg mx-2 btn-custom">
          <i class="fa fa-instagram"></i>
        </button>
        <button type="button" class="btn btn-lg mx-2 btn-custom">
          <i class="fa fa-twitter"></i>
        </button>
      </div>

      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        ©2024 Copyright
      </div>
      <!-- Copyright -->
    </footer>

  </div>
  <!-- End of .container -->
</div>