<div class="row pl-2 pr-2">
  <div class="col-md-12 mt-2 mb-2" style="text-align:right">

    <button routerLink="/cars/add" class="btn btn-success" style="border-radius: 50px; width: 150px;">Add Car</button>

  </div>
  <div class="col-md-12">
    <div class="pl-2 pr-2 mt-0 pt-0">
      <p-table [value]="cars" [paginator]="true" [rows]="10" [loading]="loading">
        <ng-template pTemplate="emptymessage">
          <tr class="text-center">
          <td colspan="9"  class="text-center">No record found.</td>
        </tr>
      </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Car Id</th>
                <th>Car Name</th>
                <th>Brand Name</th>
                <th>Color Name</th>
                <th>Model Year</th>
                <th>Daily Price</th>
                <th style="width: 300px !important;">Car Description</th>
                <th colspan="2">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
            <tr>
              <td>{{rowIndex+1}}</td>
              <td>{{car.carName}}</td>
              <td>{{getBrandName(car.brandId)}}</td>
              <td>{{getColorName(car.colorId)}}</td>
              <td>{{car.modelYear}}</td>
              <td>{{car.dailyPrice}}</td>
              <td>{{car.description}}</td>
              <td><button routerLink="/cars/update/{{car.carId}}" class="btn btn-warning" style="border-radius: 50px;">Update</button></td>
              <td><button (click)="deleteCar(car)" class="btn btn-danger" style="border-radius: 50px;">Delete</button></td>
            </tr>
        </ng-template>
    </p-table>
    </div>


  </div>
</div>

<p-toast></p-toast>
